@media screen and (max-width: 767px) {
  .contas-carrossel {
    min-height: 200px;
  }

  .conta {
    justify-content: center;
    gap: 35px;
  }

  .conta .logo {
    width: 100px;
    height: 100px;
  }

  .conta .logo img {
    width: 100%;
    height: 100%;
  }

  .conta .infos-conta {
    width: 150px;
    gap: 10px;
  }

  .conta .infos-conta h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  
  .conta .infos-conta h2 {
    font-size: 1rem;   
  }
  
  .conta .infos-conta p {
    font-size: 0.9rem;
  }

  .add-contas {
    width: 100%;
  }

  .add-contas .form-content {
    width: 100%;
  }
}

@media screen and (max-width: 1090px) {
    .conteudo-total-contas {
      width: 100%;
    }

    .contas-carrossel {
      width: 100%;
    }

    .fora-lancamentos {
      width: 100%;
      overflow: scroll;
    }
}

@media screen and (max-width: 1560px) {
    .elemento-fora {
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    .add-contas {
      margin-top: 20px;
    }
}