@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
  --cor-principal: #F2A900;
  --cor-fundo: #3D3D3D;
  --cor-fundo-content: #1F1F1F;
  --cor-txt: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--cor-fundo-content);
  scrollbar-width: hidden;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

#adicionar-conta-icon {
  position: absolute;
  top: 15px;
  right: -10px;
  color: var(--cor-principal);
  width: 30px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  /* border: 1px solid var(--cor-principal); */
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s;
  z-index: 1;
}

#adicionar-conta-icon:hover {
  background-color: var(--cor-principal);
  color: var(--cor-txt);
}

.elemento-fora {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 2% 3%;
}

.conteudo-total-contas {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 820px;
  height: 100%;
}

.contas-carrossel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 870px;
  min-height: 290px;
  border: 1px solid var(--cor-principal);
  border-radius: 15px;
}

/* Cada conta ocupará o container inteiro, posicionada de forma absoluta */
.conta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}

.conta .logo {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.conta .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conta .infos-conta {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  width: 350px;
  height: 100%;
}

.conta .infos-conta h1 {
  font-size: 2.8rem;
  color: var(--cor-principal);
  margin-bottom: 0;
}

.conta .infos-conta #tipo-conta {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.conta .infos-conta h2 {
  font-size: 2.5rem;
  color: var(--cor-txt);

}

.conta .infos-conta p {
  font-size: 1rem;
  color: var(--cor-txt);
}

.conta .infos-conta h2, .conta .infos-conta p {
  width: 100%;
}

/* Slide ativo: visível na tela */
.conta.active {
  transform: translateX(0);
}

/* Botões de navegação (estilização básica) */
.buttons {
  align-self: center;
  display: flex;
  margin-bottom: 15px;
  gap: 15px;
  pointer-events: none;
}

.buttons button {
  background: transparent;
  color: var(--cor-principal);
  width: 50px;
  height: 50px;
  border: 1px solid var(--cor-principal);
  border-radius: 50%;
  margin-top: 20px;
  cursor: pointer;
  pointer-events: all;
}

/* Efeito de bounce para primeira div (prev): movimento para a direita */
.bounce-right {
  animation: bounce-right 0.3s;
}

@keyframes bounce-right {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

/* Efeito de bounce para última div (next): movimento para a esquerda */
.bounce-left {
  animation: bounce-left 0.3s;
}

@keyframes bounce-left {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.fora-lancamentos {
  position: relative;
  width: 870px;
  min-height: 440px;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--cor-principal);
  border-radius: 20px;
}

.fora-lancamentos .lancamentos {
  overflow: scroll;
  scrollbar-width: none;
  height: 100%;
}

.fora-lancamentos .lancamentos::-webkit-scrollbar {
  display: none;
}

.fora-lancamentos .lancamentos table {
  width: 100%;
}

.fora-lancamentos .lancamentos table th {
  color: var(--cor-txt);
  padding: 10px 0;
  text-align: center;
  position: sticky;
  background-color: var(--cor-principal);
}

.fora-lancamentos .lancamentos table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.363);
  text-align: center;
  color: white;

}

.fora-lancamentos .lancamentos table td {
  padding: 1% 0;
}

z {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-contas {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.add-contas .fechar-form-icon {
  display: none;
}

.add-contas.collapsed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.add-contas.collapsed .fechar-form-icon{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cor-principal);
  border: 1px solid var(--cor-principal);
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s;
}

.add-contas.collapsed .fechar-form-icon:hover {
  background-color: var(--cor-principal);
  color: var(--cor-txt);
}

.add-contas.collapsed .fechar-form-icon i {
  padding: 0 7px;
}

.add-contas .form-content {
  position: relative;
  width: 400px;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  border: 1px solid var(--cor-principal);
}

.add-contas.collapsed .form-content {
  width: 315px;
  background-color: var(--cor-fundo-content);
}

.add-contas .form-content h1 {
  color: var(--cor-principal);
  font-size: 2rem;
  margin-bottom: 20px;
}

.add-contas .form-content form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-contas.collapsed .form-content form {
  width: 70%;
}

.add-contas .form-content div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-contas .form-content form label, .add-contas .form-content form p {
  color: var(--cor-principal);
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.add-contas .form-content form input, .add-contas .form-content form select {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid var(--cor-txt);
  background-color: transparent;
  color: var(--cor-txt);
  font-size: 1rem;
  outline: none;
  transition: all .3s;
}

.add-contas .form-content .tipo-conta {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add-contas .form-content .tipo-conta label {
  font-size: 1rem;
}

.add-contas .form-content .tipo-conta .opcoes-conta {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.add-contas .form-content .tipo-conta .opcoes-conta .opcao {
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.add-contas .form-content .tipo-conta .opcoes-conta .opcao  label {
  font-size: 0.9rem;
  margin-bottom: 1px;
}

.add-contas .form-content .tipo-conta .opcoes-conta .opcao  input {
  width: 10px;
  height: 10px;
}

.add-contas .form-content form input::placeholder {
  color: var(--cor-txt);
  transition: all .3s;  
}

.add-contas .form-content form input:-webkit-autofill,
.add-contas .form-content form input:-webkit-autofill:hover,
.add-contas .form-content form input:-webkit-autofill:focus {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white  !important;
    caret-color: white;
}

.add-contas .form-content form option {
  background-color: var(--cor-fundo-content);
}

.add-contas .form-content .imagem-conta {
  display: none;
  width: 160px;
  height: 115px;
  overflow: hidden;
  align-self: flex-start;
}

.add-contas .form-content .imagem-conta img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.add-contas .form-content form .btn-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.add-contas .form-content form button {
  width: 100px;
  height: 35px;
  border: 1px solid var(--cor-principal);
  border-radius: 25px;
  background-color: transparent;
  color: var(--cor-principal);
  cursor: pointer;
  transition: all .3s;
}

.add-contas .form-content form button:hover {
  background-color: var(--cor-principal);
  color: var(--cor-txt);
  transform: scale(0.97);
}

.add-contas .form-content form .excluir-conta {
  background-color: transparent;
  width: 100px;
  height: 35px;
  border: 1px solid red;
  border-radius: 25px;
  font-size: 0.9rem;
  cursor: pointer;
  color: red;
  transition: all .2s;
}

.add-contas .form-content form .excluir-conta:hover {
  background-color: red;
  color: var(--cor-txt);
  transform: scale(0.97);
}


