@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --cor-principal: #F2A900;
    --cor-fundo-content: #1F1F1F;
    --cor-txt: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    background-color: var(--cor-fundo-content);
    width: 100vw;
    height: 100dvh;
    position: relative;
    display: grid;
    place-content: center;
    overflow: hidden;
    scrollbar-width: none;
}

#pattern {
    width: 100vw;
    height: 100dvh;
    position: absolute;
    top: -44px;
    left: -50px;
    right: 0;
    bottom: 0;
}

#gradient {
    background: radial-gradient(#F2A900, transparent 50%);
    width: 400px;
    height: 400px;
    position: absolute;
    top: -200px;
    left: -200px;
    transform: translate(200px, 200px);
}

.form-container-cadastro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d0c0f15;
    backdrop-filter: blur(10px);
    border: 1px solid #f2a90011;
    border-radius: 25px;
    padding: 10px;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

form > h1 {
    font-size: 3rem;
    font-family: 'orbitron';
    margin-bottom: 10px;
    color: #F5A900;
}

label {
    color: #F5A900;
    margin-top: 10px;
}

input {
    background-color: transparent;
    color: white;
    padding: 10px;
    border: 1.5px solid white;
    border-radius: 4px;
}

input:focus {
    color: white;
    outline: none;
}

input::placeholder {
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white  !important;
    caret-color: white;
}

.img-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;  /* Definindo o tamanho fixo do contêiner */
    height: 150px;
    border-radius: 50%;  /* Garante que o contêiner seja circular */
    overflow: hidden;
}

.input-img-perfil {
    position: relative;
}

.img-perfil img {
    width: 200px;
    height: 200px;
    object-fit: cover;  /* Garante que a imagem preencha o espaço sem distorção */
    border-radius: 50%;
}

input[type="file"] {
    display: none;
}

.file-label {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 5px;
    background-color: white;
    color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.file-label i {
    font-size: 20px;
}

.input-box.invalid input{
    border: 1px solid red;
}

.input-box.valid input{
    border: 1px solid green;
}

.input-name, .input-outras-infos {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-name > span, .input-outras-infos > span {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    margin-top: 5px;
    flex-direction: row;
}

.input-login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-login > .input-box > input {
    margin-bottom: 5px;
}

.input-login span {
    width: 100%;
}

#span-senha, #span-confirmarsenha {
    position: relative;
}

#senha-icon, #confirmarsenha-icon {
    position: absolute;
    bottom: 15px;
    right: 10px;
    color: var(--cor-txt);
}

.invalid #senha-icon, .invalid #confirmarsenha-icon {
    top: 39px;
    right: 10px;
}

.input-login span input {
    width: 100%;
}

#nome, #sobrenome, #data-nasc, #salario {
    width: 300px;
}

#data-nasc {
    color: white;
}

span > label{
    display: block;

}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

/* Esconde o ícone nativo para o Firefox */
input[type="date"] {-moz-appearance: textfield;}

.input-outras-infos .input-box:first-child {
    position: relative;
}

.bi-calendar3 {
    position: absolute;
    top: 39px;
    right: 10px;
    color: var(--cor-txt);
    z-index: -1;
}

.btn-form {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 10px;
    width: 100%;
}

.disabled {
    background-color: #8a6000;
    cursor: not-allowed;
}

.enable {
    background-color: #F5A900;
    cursor: pointer;
}

#btn-salvar {
    color: white;
    border: none;
    padding: 7px;
    width: 100px;
    font-size: 1rem;
    transition: all .2s;
}

#btn-salvar:hover {
    background-color: #8a6000;
}


button {
    background-color: white;
    color: #F5A900;
    padding: 7px;
    width: 100px;
    border: #F5A900;
    border-radius: 4px;
    font-size: 1rem;
    transition: all .2s;
}

button:hover {
    background-color: rgb(184, 184, 184);
}

.input-termos-politicas {
    position: relative;
    width: 700px;
    margin-top: 10px;
}

.input-termos-politicas span {
    margin-top: 5px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 2px solid #333;
    border-radius: 4px;
    position: relative;
    transition: all .2s;
  }

  /* Estilo do checkbox quando está marcado */
  input[type="checkbox"]:checked {
    background-color: var(--cor-principal);
    border-color: var(--cor-principal);
  }

  /* Adiciona um "check" dentro do checkbox */
  input[type="checkbox"]:checked::before {
    content: "✔";
    color: white;
    position: absolute;
    left: 2px;
    top: -3px;
    font-size: 16px;
  }

  #termos-label {
    position: absolute;
    top: 0;
    margin-top: 0;
    left: 25px;
    color: var(--cor-principal);
  }

  .termos-politicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    text-align: left;
    width: 700px;
  }

  .termos-politicas a {
    color: var(--cor-principal);
    text-decoration: none;
    transition: all .2s;
}

.termos-politicas a:hover {
    color: #8a6000;
}

