@media screen and (max-width: 715px) {
    .container {
        grid-template-columns: 1fr; /* Todas as seções em uma coluna */
    }

    .conteudo-dash { /* Div que contém todas as seções */
        gap: 0;
    }

    .secao1, .secao2, .secao3, .secao4 {
        grid-column: 1 / span 1; /* Cada seção ocupa 100% da largura */
        justify-self: stretch;
        margin-top: 20px;
    }

    .secao1 {
        height: 110px;
        max-width: 100%;
    }

    
    .desempenho-fluxo > div { /* cada uma das 3 divs dos desempenhos */
        gap: 10px;
        justify-content: flex-start;
    }
    
    
    .desempenho-fluxo > div > span > i { /* icones principais */
        font-size: 2.1rem;
        margin-left: 5px;
    }
    
    .desempenho-fluxo > div > span > .arrow { /* onde contem as setas */
        font-size: 1.1rem;
        top: 10px;
        right: -10px;
        width: 19px;
        height: 19px;
    }
    
    .desempenho-fluxo > div > span > .arrow > i { /* setas */
        position: relative;
        top: -4px;
        right: 1px;
    }
    
    .desempenho-fluxo > div > .infos {
        justify-content: flex-start;
        padding-top: 20px;
    }

    .desempenho-fluxo > div > .infos > h1 {
        text-align: start;
        font-size: 0.6rem;
        color: white;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    
    .desempenho-fluxo > div > .infos > h2 {
        font-size: 0.7rem;
        font-weight: bolder;
        color: white;
    }
    
    .desempenho-fluxo > div > .infos > p {
        font-size: 0.4rem;
        color: white;
        margin: 0;
        text-align: start;
        position: absolute;
        bottom: 27px;
        left: 45px;
    }

    .desempenho-fluxo .barra {
        height: 85px;
    }

    .secao2 {
        min-width: 343px;

    }

    #chart1 {
        min-width: 100%;
        width: 100%;
    }

    .secao2, .secao3 {
        width: 100%;
    }
    
    .secao4 {
        width: 350px;
    }

    th {
        font-size: 0.7rem
    }

    td {
        font-size: 0.8rem
    }

    .section-lancamentos .lancar {
        width: 300px;
    }
    
    .section-lancamentos .lancar h1 {
        font-size: 1.5rem;
    }

    .section-lancamentos .lancar #form-lancamentos input, .section-lancamentos .lancar #form-lancamentos select{
        width: 280px;
    }

    .section-lancamentos .lancar #form-lancamentos span.tipo {
        width: 280px;
    }

}


@media screen and (min-width: 715px) and (max-width: 1100px) {
    .container {
        grid-template-columns: 1fr; /* Todas as seções em uma coluna */
    }

    .secao1, .secao2, .secao3, .secao4 {
        grid-column: 1 / span 1; /* Cada seção ocupa 100% da largura */
        justify-self: stretch; /* Opcional: Se quiser que as seções ocupem toda a largura */
    }

    .desempenho-fluxo > div > span > i { /* icones principais */
        font-size: 3rem;
    }

    .desempenho-fluxo > div > span > .arrow { /* onde contem as setas */
        font-size: 1.5rem;
        top: 8px;
        right: -8px;
        width: 25px;
        height: 25px;
    }

    .desempenho-fluxo > div > span > .arrow > i { /* setas */
        position: relative;
        top: -5px;
        right: 1px;
    }

    .desempenho-fluxo > div > .infos > h1 {
        text-align: start;
        font-size: 0.8rem;
        color: white;
        margin-top: 20px;
    }
    
    .desempenho-fluxo > div > .infos > h2 {
        font-size: 1.2rem;
        font-weight: bolder;
        color: white;
    }
    
    .desempenho-fluxo > div > .infos > p {
        font-size: 0.6rem;
        color: white;
    }

    .secao2, .secao3 {
        width: 100%;
    }
    
    .secao4 {
        min-width: 600px;
        width: 70vw;
    }

    th {
        font-size: 0.7rem
    }

    td {
        font-size: 0.8rem
    }

}