@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --cor-principal: #F2A900;
    --cor-fundo: #3D3D3D;
    --cor-fundo-content: #1F1F1F;
    --cor-txt: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--cor-fundo-content);
    scrollbar-width: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.conteudo-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.conteudo-dash {
    position: relative;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 3fr 2fr;
    gap: 20px; /* Espaçamento entre as seções */
    width: 80%;
    height: 100%; /* Altura da página completa */
    padding: 10px; /* Espaçamento externo opcional */
    align-items: center;
    justify-content: center;
}

.conteudo-dash > section {
    border: 1px solid var(--cor-principal);
    border-radius: 20px;
}

.secao1 {
    height: 150px;
    grid-column: 1 / span 2; /* Ocupa 2 colunas, ou seja, a largura completa */
    padding: 0 1%;
}

.desempenho-fluxo { /* conteudo total de desempenho */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.desempenho-fluxo > div { /* cada uma das 3 divs dos desempenhos */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: calc(99% / 3);
    height: 100%;
    position: relative;
}

.desempenho-fluxo > div > span > i { /* icones principais */
    font-size: 5rem;
}

.desempenho-fluxo div .icon { /* onde contem os icones */
    position: relative;
}

.desempenho-fluxo > div > span > .arrow { /* onde contem as setas */
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 30px;
    right: -7px;
    background-color: var(--cor-fundo-content);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.desempenho-fluxo > div > span > .arrow > i { /* setas */
    position: relative;
    top: -10px;
    right: 1px;
}

.desempenho-fluxo > div > .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 100%;
}

.desempenho-fluxo > div > .infos > h1 {
    text-align: start;
    font-size: 1rem;
    color: white;
    margin-top: 20px;
}

.desempenho-fluxo > div > .infos > h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}

.desempenho-fluxo > div > .infos > p {
    font-size: 0.8rem;
    color: white;
}

.desempenho-fluxo .barra {
    position: absolute;
    right: -3px;
    height: 105px;
    border-right: 1px solid rgba(255, 255, 255, 0.315);
}

.secao2 {
    height: 250px;
    min-width: 500px;
    width: 85%;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chart1 {
    min-width: 496px;
    width: 100%;
    margin: 0 auto;
}

.secao3 {
    aspect-ratio: 1 / 1;
    justify-self: start;
    height: 250px; 
    width: 330px;
}

#chart2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao4 {
    height: 350px;
    grid-column: 1 / span 2; /* Ocupa 2 colunas, ou seja, a largura completa */
    position: relative;
}

#btn-lancamentos {
    position: absolute;
    top: 12px;
    right: 30px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
}

#btn-lancamentos:hover {
    background-color: var(--cor-principal);
    color: white;
}

.table-lancamentos {
    width: 98%;
    height: 100%;
    margin: 0 auto;
}

.table-lancamentos h1 {
    text-align: center;
    font-size: 1rem;
    color: white;
    margin: 18px 0;
}

.table-container {
    width: 100%;
    height: 80%;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

th {
    color: #F2A900;
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);
    padding-bottom: 5px;
    text-align: center;
}

td {
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.363);
    text-align: center;
}

.table-container table tr td:last-child {
    gap: 5px;
}

.table-container table tr td #btn-editar {
    width: 40px;
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: all .3s;
}

.table-container table tr td #btn-editar:hover {
    background-color: rgb(0, 0, 153);
}

.table-container table tr td #btn-excluir {
    width: 40px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: all .3s;
}

.table-container table tr td #btn-excluir:hover {
    background-color: rgb(153, 0, 0);
}

.section-lancamentos {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(5px);

}

.section-lancamentos .lancar {
    width: 450px;
    height: 750px;
    background-color: var(--cor-fundo-content);
    border: 2px solid var(--cor-principal);
    box-shadow: 1px 1px 20px black;
    border-radius: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    color: white;
}

.section-lancamentos .lancar h1 {
    font-family: 'Orbitron', sans-serif;
}

.section-lancamentos .lancar #form-lancamentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section-lancamentos .lancar #form-lancamentos label {
    margin-top: 10px;
}

.section-lancamentos .lancar #form-lancamentos label#label-receita {
    margin-top: 0;
}

.section-lancamentos .lancar #form-lancamentos label#label-despesa {
    margin-top: 0;
}

.section-lancamentos .lancar #form-lancamentos input, .section-lancamentos .lancar #form-lancamentos select{
    width: 300px;
    height: 40px;
    padding: 5px;
    border: 1px solid var(--cor-principal);
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.section-lancamentos .lancar #form-lancamentos option {
    background-color: var(--cor-fundo-content);
    color: white;
}

.section-lancamentos .lancar #form-lancamentos option:focus {
    background-color: var(--cor-principal);
}

.section-lancamentos .lancar #form-lancamentos input:focus, .section-lancamentos .lancar #form-lancamentos select:focus {
    outline: none;
    background-color: transparent;
}

.section-lancamentos .lancar #form-lancamentos input:focus {
    outline: none;
    color: rgb(245, 245, 245);
}

.section-lancamentos .lancar #form-lancamentos input[type="radio"] {
    width: 10px;
    height: 10px;
}

.section-lancamentos .lancar #form-lancamentos span.span-flex {
    display: flex;
    flex-direction: column;
}

.section-lancamentos .lancar #form-lancamentos span.tipo {
    width: 300px;
}

.section-lancamentos .lancar #form-lancamentos span.radio {
    height: 35px;
}

.section-lancamentos .lancar #form-lancamentos span.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 180px;
    margin-top: 20px;
}

/* Remove as setas para navegadores WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove as setas para o Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;

}
  
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }

  /* Esconde o ícone nativo para o Firefox */
  input[type="date"] {
    -moz-appearance: textfield;
    appearance: none;
    position: relative;
    padding-right: 40px; /* Espaço para o ícone personalizado */
  }

  /* Estilo básico para o input de data */
  .date-container {
    position: relative;
    display: inline-block;
  }

  /* Input de data */
  .date-container input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ccc;
    width: 100%;
  }

  /* Ícone personalizado (usando FontAwesome como exemplo ou qualquer outro ícone) */
  .date-container::after {
    content: "\f073"; /* Código do ícone de calendário do FontAwesome */
    font-family: "FontAwesome";
    position: absolute;
    right: 10px;
    bottom: -2px;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
    font-size: 15px;
  }

.section-lancamentos .lancar #form-lancamentos span.btns button {
    width: 80px;
    height: 30px;
    border: 1px solid var(--cor-principal);
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all .2s;
}

.section-lancamentos .lancar #form-lancamentos span.btns button:hover {
    background-color: var(--cor-principal);
}


#label-subcategoria {
    display: none;
}

#subcategoria {
    display: none;
}

#parcelas {
    display: none;
}

#label-parcelas {
    display: none;
}

#btn-lancamentos-fechar {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    padding-bottom: 2px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;

    transition: all .2s;
}

#btn-lancamentos-fechar:hover {
    background-color: #f2a90098;
}	

.radio {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    padding-top: 5px;
    cursor: pointer;
  }


  /* Oculta o input radio tradicional */
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Estilo da bolinha do radio personalizado */
  .radio input[type="radio"] + label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    transition: border-color 0.3s, background-color 0.3s;
  }



  /* Estilo da bolinha preenchida quando o input está marcado */
  input[type="radio"]:checked + label::before {
    background-color: var(--cor-principal);
    border-color: white;
  }

  /* Bolinha dentro do círculo que aparece quando o input está marcado */
  input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
  }

  /* Ajuste para espaçamento e alinhamento */
  .radio {
    display: inline-block;
  }