@charset "UTF-8";

:root {
    --cor-principal: #F2A900;
    --cor-fundo: #3D3D3D;
    --cor-fundo-content: #1F1F1F;
    --cor-txt: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-vertical {
    height: 100vh;
    width: 200px;
    background-color: #3D3D3D; /* Cor de fundo cinza da navbar */
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    scrollbar-width: none;
    border: 1px solid var(--cor-principal); /* Borda dourada */
    transition: width 0.3s ease; /* Transição suave ao abrir/fechar */
    padding: 0;
    z-index: 9999;
    flex-wrap: nowrap;
}
.navbar-vertical.collapsed {
    width: 60px; /* Largura da navbar quando recolhida */
}
.navbar-vertical .navbar-brand {
    margin-left: 0px; /* Ajuste da logo próximo à borda */
}
.navbar-vertical .navbar-brand img {
    max-width: 70%; /* Ajuste de tamanho para caber bem */
}
.navbar-vertical.collapsed .navbar-brand img {
    width: 95px; /* Tamanho menor para a logo quando recolhida */
    margin-left: 10px;
}
.navbar-vertical .nav-link {
    color: white; /* Texto branco */
    font-size: 1rem;
    transition: all 0.3s ease; /* Transição suave */
    padding: 10px 10px; /* Espaçamento interno */
      white-space: nowrap; /*Prevenir quebra de linha no texto */
    text-align: left; /* Alinhamento à esquerda */
}
.navbar-vertical .nav-item {
    display: block;
    text-align: left; /* Garantir alinhamento à esquerda */
}
.navbar-vertical.collapsed .nav-link {
    padding: 10px; /* Menor padding para os ícones */
    text-align: center; /* Centralizar ícones */
}
.navbar-vertical .nav-link i {
    margin-right: 10px;
    color: #F2A900; /* Ícones dourados */
}
.navbar-vertical.collapsed .nav-link i {
    margin-right: 0; /* Remover o espaço lateral dos ícones */
}
.navbar-vertical .nav-link:hover, .navbar-vertical .nav-link.active {
    background-color: #F2A900; /* Fundo dourado ao passar o mouse */
    color: black; /* Texto preto ao passar o mouse */
    width: 100%; /* Largura total do link */
    margin: 0; /* Remover margens */
}
.navbar-vertical .nav-link:hover i, .navbar-vertical .nav-link.active i {
    color: black; /* Ícones pretos ao passar o mouse ou quando ativo */
}
.navbar-vertical.collapsed .nav-text {
    display: none; /* Esconder texto dos links */
}
.navbar-top .toggle-btn {
    position: absolute;
    top: 15px;
    left: -15px;
    z-index: 10000;
    background-color: #3D3D3D;
    border: none;
    color: white;
    width: 25px;
    height: 25px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
    border: 1px solid #F2A900; /* Borda dourada no botão */
}
.navbar-vertical.collapsed ~ .navbar-top .toggle-btn i {
    transform: rotate(180deg); /* Rotacionar a seta */
}
/* Garantir que os links fiquem logo abaixo da logo */
.navbar-vertical ul.nav {
    padding-left: 0;
}
.navbar-vertical ul.nav:first-of-type {
    margin-top: 11px; /* Espaço logo abaixo da logo */
}
.navbar-vertical ul.nav.bottom-links {
    margin-top: auto; /* Empurrar links inferiores para o final */
}

/* Estilos da Navbar Superior */
.navbar-top {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 200px); /* Ajuste para a largura do menu lateral */
    height: 60px;
    background-color: #3D3D3D;
    padding: 0 20px;
    margin-left: 200px; /* Para alinhar corretamente com a navbar lateral */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #F2A900;
    transition: all 0.3s ease;
    z-index: 9999;
}
.navbar-top.collapsed {
    margin-left: 60px; /* Ajuste para quando a navbar lateral estiver recolhida */
    width: calc(100% - 60px);
    height: 53px;
}
.navbar-top .user-info a{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: rgb(255, 255, 255);
}
.navbar-top .user-info img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid var(--cor-principal);
}
.navbar-top .user-info h1 {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 5px;
    margin-top: auto;
}

/* ----------------------------------------------------------------- */

/* inicio estilização conteudo padrao */
.conteudo {
    position: absolute;
    background-color: var(--cor-fundo-content);
    width: calc(100% - 200px); /* Ajusta para a largura da barra lateral */
    height: calc(100vh - 60px); /* Preenche a área abaixo da navbar superior */
    right: 0;
    top: 0px; /* Ajusta para abaixo da barra superior */
    z-index: 0; /* Mantém o conteúdo abaixo das navbars */
    transition: width 0.3s ease; /* Animação suave ao colapsar a barra lateral */
}

/* Quando a barra lateral está colapsada */
.conteudo.collapsed {
    width: calc(100% - 60px); /* Ajusta a largura quando a barra lateral é colapsada */
    top: 53px; /* Ajuste para quando a navbar superior também encolher */
}

/* Fim estilização conteudo padrao */

/* ----------------------------------------------------------------- */
