@media screen and (max-width: 500px) {
    .conteudo-total-sobrenos .quem-somos h1 { /* Titulo quem somos*/
        margin-top: 10px;
    }

    .conteudo-total-sobrenos .quem-somos h1, .conteudo-total-sobrenos .apresentar-membros > h1 { /* Titulo quem somos e equipe*/
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .conteudo-total-sobrenos .quem-somos p { /* Paragrafo quem somos */
        font-size: 0.8rem;
        padding: 0 5%;
        text-align: center;
    }

    .conteudo-total-sobrenos .apresentar-membros .membros .membro-container { /* Div que contém um membro */
        width: 270px;
        height: 400px;
        padding: 5px;
    }
}

@media screen and (max-width: 900px) {
    .conteudo-total-sobrenos .quem-somos p { /* Paragrafo quem somos */
        text-align: center;
    }

    .conteudo-total-sobrenos .apresentar-membros { /* Div que contém todos os membros */
        gap: 0;
    }
}