@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

#modalConfirmarBanir h2, #modalConfirmarDesbanir h2 {
    font-size: 1.4rem;
    text-align: center;
    color: red;
}

#modalConfirmarBanir span, #modalConfirmarDesbanir span {
    color: red;
    font-weight: bold;
}

.conteudo-adm-total {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.conteudo-adm-total h1 {
    color: var(--cor-principal);
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.4rem;
}

.dashboard-adm {
    width: 100%;
}

.conteudo-adm-total h2 {
    color: var(--cor-principal);
    margin: 40px 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.dashboard-adm .dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 20px;
}

.dashboard-adm .dashboard .cards {
    position: relative;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px var(--cor-principal);
    justify-self: center;

    border: 1px solid var(--cor-principal);
}

.dashboard-adm .dashboard i {
    position: absolute;
    right: 35px;
    bottom: 10px;
    font-size: 1.5rem;
    color: var(--cor-principal);
}

.dashboard-adm .dashboard .conteudo-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-adm .dashboard .conteudo-card .titulo-card {
    color: var(--cor-txt);
}

.dashboard-adm .dashboard .conteudo-card .valor-card {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--cor-txt);
}

.chart-usuarios {
    position: relative;
}

.chart-usuarios #ano {
    position: absolute;
    top: 25px;
    right: 50%;
    transform: translateX(50%);
    width: 70px;
    border: 1px solid var(--cor-principal);
    border-radius: 10px;
    background-color: var(--cor-fundo-content);
    color: var(--cor-txt);
    font-size: 1rem;
    padding: 5px;
    outline: none;
}

/* =========================================================================== */

.gerenciar-usuarios {
    width: 100%;
}

.gerenciar-usuarios h2 {
    margin: 40px 0 0px 0;
}

.gerenciar-usuarios .conteiner-tabela {
    width: 100%;
    padding: 20px;
}

.gerenciar-usuarios .conteiner-tabela .buscar-filtro {
    margin-bottom: 15px;
}

.gerenciar-usuarios .conteiner-tabela .buscar-filtro p {
    color: var(--cor-txt);
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.gerenciar-usuarios .conteiner-tabela .buscar-filtro .plano {
    color: var(--cor-txt);
    font-size: 1.2rem;
    margin: 0 0 3px 7px;
}

.gerenciar-usuarios .conteiner-tabela .buscar-filtro input,
.gerenciar-usuarios .conteiner-tabela .buscar-filtro select {
    width: 235px;
    background-color: var(--cor-fundo-content);
    color: var(--cor-txt);
    border: 1px solid var(--cor-principal);
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
}

.gerenciar-usuarios .conteiner-tabela .tabela {
    width: 100%;
    height: 510px;
    max-height: 510px;
    border: 1px solid var(--cor-principal);
    overflow: auto;
    scrollbar-color: var(--cor-principal) var(--cor-fundo-content);
}

.gerenciar-usuarios .conteiner-tabela table {
    width: 100%;
    border-collapse: collapse;
}

.gerenciar-usuarios .conteiner-tabela table thead {
    position: sticky;
    top: 0px;
    background-color: var(--cor-principal);
    z-index: 2;
}

.gerenciar-usuarios .conteiner-tabela table tbody tr {
    height: 30px;
}

.gerenciar-usuarios .conteiner-tabela table tbody tr td:first-child {
    border-left: 1px solid var(--cor-principal);
}

.gerenciar-usuarios .conteiner-tabela table tbody tr td:last-child {
    border-right: 1px solid var(--cor-principal);
}

.gerenciar-usuarios .conteiner-tabela table tbody tr td {
    border-bottom: 1px solid var(--cor-principal);
}

.gerenciar-usuarios .conteiner-tabela table td, th {
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
    color: var(--cor-txt);
}

.gerenciar-usuarios .conteiner-tabela table td img {
    width: 50px;
    height: 50px;
    border: 1px solid var(--cor-principal);
    border-radius: 50%;
    object-fit: cover;
}

.gerenciar-usuarios .conteiner-tabela table button {
    width: 40px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: all .3s;
}

.gerenciar-usuarios .conteiner-tabela table .btn-desbanir {
    background-color: green;
}

.gerenciar-usuarios .conteiner-tabela table .btn-desbanir:hover {
    background-color: rgb(0, 153, 0);
}

.gerenciar-usuarios .conteiner-tabela table .btn-banir {
    background-color: red;
}

.gerenciar-usuarios .conteiner-tabela table .btn-banir:hover {
    background-color: rgb(153, 0, 0);
}

.gerenciar-premios {
    width: 100%;
    
}

.gerenciar-premios .adicionar-premio {
    margin: 40px 0 0 0;
    width: 300px;

    border: 1px solid var(--cor-principal);
    border-radius: 10px;
    padding: 20px;
    color: white;
    justify-self: center;
}

.gerenciar-premios .adicionar-premio form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.gerenciar-premios .adicionar-premio form label {
    margin-top: 10px;
    align-self: start;
    color: var(--cor-txt);
}

.gerenciar-premios .adicionar-premio form input {
    width: 100%;
    background-color: transparent;
    color: var(--cor-txt);
    border: 1px solid var(--cor-principal);
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
}

.gerenciar-premios .adicionar-premio form input:-webkit-autofill,
.gerenciar-premios .adicionar-premio form input:-webkit-autofill:hover,
.gerenciar-premios .adicionar-premio form input:-webkit-autofill:focus,
.gerenciar-premios .adicionar-premio form input:-webkit-autofill:active {
    background-color: transparent !important;
    color: var(--cor-txt) !important;
    border: 1px solid var(--cor-principal) !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--cor-txt)  !important;
    caret-color: white;
    outline: none;
}

.gerenciar-premios .adicionar-premio form input[type="number"] {
    width: 80px;
    align-self: start;
}

.gerenciar-premios .adicionar-premio form input[type="number"]::-webkit-outer-spin-button,
.gerenciar-premios .adicionar-premio form input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.gerenciar-premios .adicionar-premio form .imagem-premio-container {
    position: relative;
}

.gerenciar-premios .adicionar-premio form .imagem-premio-container .imagem-premio {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid var(--cor-principal);
    border-radius: 50%;
    overflow: hidden;
}

.gerenciar-premios .adicionar-premio form .imagem-premio-container .imagem-premio #previw-imagem {
    display: none;
}

.gerenciar-premios .adicionar-premio form .imagem-premio-container #foto-premio {
    display: none;
}

.gerenciar-premios .adicionar-premio form .imagem-premio-container label {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo-content);
    color: var(--cor-txt);
    font-size: 1.2rem;
    border: 1px solid var(--cor-principal);
    border-radius: 50%;
    cursor: pointer;
}

.gerenciar-premios .adicionar-premio form button {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: var(--cor-principal);
    color: var(--cor-txt);
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: all .5s;
}

.gerenciar-premios .adicionar-premio form button:hover {
    background-color: #b47e00;
    color: var(--cor-txt);
    transform: scale(0.97);
}

.gerenciar-premios .premios-existentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-self: center;
    margin-top: 20px;
    width: 100%;
    color: white;
}

.gerenciar-premios .premios-existentes .premios-conteiner {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    margin: 35px 0px;
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio {
    position: relative;
    width: 200px;
    min-width: 200px;
    height: 280px;
    border: 1px solid var(--cor-principal);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio .imagem-premio {
    position: absolute;
    top: -50px;
    overflow: hidden;
    background-color: var(--cor-fundo-content);
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--cor-principal);
    object-fit: contain;
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio .infos-premio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    color: var(--cor-txt);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio .infos-premio .nome-premio {
    color: var(--cor-principal);
    font-weight: bold;
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio .infos-premio .descricao-premio {
    text-align: start;
    padding: 0 8px;
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio .infos-premio .preco-premio {
    width: 100%;
    padding: 0 8px;
    color: var(--cor-principal);
    font-weight: bold;
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio .infos-premio .limite-premio {
    width: 100%;
    padding: 0 8px;
    margin-top: -10px;
    text-align: start;
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio .acoes-premio {
    width: 100%;
    height: 30px;
    background-color: transparent;
    margin-top: auto;
    text-align: center;
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio .acoes-premio button {
    width: 30px;
    color: var(--cor-txt);
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: all .5s;
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio .acoes-premio button#editar-premio {
    background-color: blue;
    margin-right: 5px;
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio .acoes-premio button#excluir-premio {
    background-color: red;
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio button#editar-premio:hover {
    background-color: rgb(0, 0, 160);
    transform: scale(0.97);
}

.gerenciar-premios .premios-existentes .premios-conteiner .premio button#excluir-premio:hover {
    background-color: rgb(160, 0, 0);
    transform: scale(0.97);
}