@media screen and (max-width: 768px) {
    section.conteudo-contato .infos-contato, section.conteudo-contato .form-contato {
        width: 310px;
    }
}

@media screen and (max-width: 1450px) {
    section.conteudo-contato {
        flex-direction: column;
        height: auto;
        gap: 5px;
    }

    section.conteudo-contato .infos-contato .texto-infos {
        text-align: center;
    }

    section.conteudo-contato .infos-contato .texto-infos .redes-contato {
        text-align: start;
    }

    section.conteudo-contato .infos-contato, section.conteudo-contato .form-contato {
        height: auto;
    }

    section.conteudo-contato .form-contato form {
        width: 100%;
        height: auto;
    }
}