@media screen and (max-width: 675px){
    #gradient, #pattern {
        display: none;
    }
    .content {
        padding-top: 15%;
        height: 90vh;
    }

    .content .introducao {
        height: 26%;
        font-size: 0.9rem;
    }

    .img-edu {
        bottom: 0;
        right: 0;
    }

    p {
        right: 101px;
        bottom: 203px;
        position: absolute;
        font-size: 0.80rem;
        color: white;
        font-family: 'Orbitron', sans-serif;
    }

    .img-content img {

        width: 200px;
        
    }

    .links a {
        margin: 20px 0;
    }
}