@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --cor-principal: #F2A900;
    --cor-fundo-content: #1F1F1F;
    --cor-txt: #FFFFFF;
    --cor-receita: rgb(0, 190, 0);
    --cor-despesa: rgb(190, 0, 0);
}

.conteudo-total {  /* Seção que contém todo o conteudo */
    width: 100%;
    height: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 30px;
}

.infos-topo {  /* Informações do topo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
}

.infos-topo h1 {  /* Titulo */
    font-family: 'Orbitron', sans-serif;
    font-size: 2.3rem;
    color: var(--cor-principal);
    margin-top: 20px;
}

.infos-topo .desempenho-mes {  /* Desempenho do mês */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.infos-topo .desempenho-mes .receita, .infos-topo .desempenho-mes .despesa {  /* Desempenho do mês individual */
    font-size: 1.1rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 10px;
    border-radius: 10px;
}

.infos-topo .desempenho-mes .receita {  /* Desempenho do mês individual */
    border:2px solid var(--cor-receita);
}

.infos-topo .desempenho-mes .despesa {  /* Desempenho do mês individual */
    border:2px solid var(--cor-despesa);
}

.infos-topo .desempenho-mes .receita p {  /* Valor da receita do mês */
    color: var(--cor-receita);
    margin: 0;
}

.infos-topo .desempenho-mes .despesa p {  /* Valor da despesa do mês */
    color: var(--cor-despesa);
    margin: 0;
}

.meses {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    width: 315px;
}

.mes-wrapper {
    position: relative;
    width: 130px;
    height: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mes-atual {
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.infos-topo .meses button {  /* Botão para trocar o mês */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: var(--cor-principal);
    cursor: pointer;
    transition: all .3s;
}

.infos-topo .meses button:hover {
    background-color: #333333;
}

.infos-topo .meses p {  /* nome do mês */
    color: var(--cor-principal);
    font-size: 1.6rem;
    margin: 0;
    width: 140px;
    text-align: center;
}

.abrir-form-icon {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 5px;
    cursor: pointer;
    transition: all .35s;
}

.abrir-form-icon:hover {
    background-color: var(--cor-principal);
    color: var(--cor-txt);
    transform: scale(0.97);
}

.lancamentos {
    position: relative;
    width: 100%;
    border: 1px solid var(--cor-principal);
    border-radius: 10px 10px 0 0;
    overflow-x: scroll;
    height: 100%;
    min-height: 508px;
    scrollbar-color: var(--cor-principal) var(--cor-fundo-content);
    scrollbar-width: thin;
}

.lancamentos table {
    min-width: 1066px;
    width: 100%;
}

.lancamentos table th {
    color: var(--cor-txt);
    padding: 10px 0;
    text-align: center;
    position: sticky;
    background-color: var(--cor-principal);
}

.lancamentos table tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);
    text-align: center;
    color: white;
}

.lancamentos table td {
    padding: 1% 0;
}

.lancamentos table td.despesa {
    color: rgb(190, 0, 0);
}

.lancamentos table td.receita {
    color: rgb(0, 190, 0);
}

.lancamentos table td.transferencia {
    color: rgb(177, 246, 255);
}

.lancamentos table td button {
    width: 40px;
    height: 30px;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: all .3s;
}

.lancamentos table td #editar {
    background-color: blue;
}

.lancamentos table td #editar:hover {
    background-color: rgb(0, 0, 153);
}

.lancamentos table td #excluir {
    background-color: red;
}

.lancamentos table td #excluir:hover {    
    background-color: rgb(153, 0, 0);
}
  

.form-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;

}

.form-container .form-add-lancamento,
.form-container .form-edit-lancamento {
    position: relative;
    background-color: var(--cor-fundo-content);
    width: 400px;
    height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--cor-principal);
}

.form-add-lancamento .fechar-form-icon,
.form-edit-lancamento .fechar-form-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;
}

.form-add-lancamento .fechar-form-icon:hover,
.form-edit-lancamento .fechar-form-icon:hover {
    background-color: var(--cor-principal);
    color: var(--cor-txt);
}

.form-container .form-add-lancamento h1,
.form-container .form-edit-lancamento h1 {
    color: var(--cor-principal);
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-add-lancamento form,
.form-edit-lancamento form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-add-lancamento form .input-box,
.form-edit-lancamento form .input-box {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-add-lancamento form .input-box#transferencia-entre-contas-check,
.form-edit-lancamento form .input-box#transferencia-entre-contas-check-editar {
    display: none;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
}

.form-add-lancamento form .input-box#contas-transferencia,
.form-edit-lancamento form .input-box#contas-transferencia-editar {
    display: none;
    gap: 5px;
}

.form-add-lancamento form .input-box#subcategoria-container,
.form-add-lancamento form .input-box#parcelas-container,
.form-edit-lancamento form .input-box#subcategoria-container-editar,
.form-edit-lancamento form .input-box#parcelas-container-editar {
    display: none;
}

.form-add-lancamento form .input-box label,
.form-edit-lancamento form .input-box label {
    color: var(--cor-principal);
    font-size: 1.1rem;
}

.form-add-lancamento form .input-box#transferencia-entre-contas-check label,
.form-edit-lancamento form .input-box#transferencia-entre-contas-check-editar label {
    font-size: 1rem;
}

.form-add-lancamento form .input-box input,
.form-add-lancamento form .input-box select,
.form-edit-lancamento form .input-box input,
.form-edit-lancamento form .input-box select {
    width: 100%;
    height: 30px;
    border: 1px solid var(--cor-txt);
    border-radius: 5px;
    padding: 0 10px;
    background-color: transparent;
    color: var(--cor-txt);
    font-size: 1rem;
}

.form-add-lancamento form .input-box input[type="radio"],
.form-edit-lancamento form .input-box input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: var(--cor-txt);
    border-radius: 50%;
    position: relative;
    transition: all .2s;
}

.form-add-lancamento form .input-box input[type="radio"]:checked,
.form-edit-lancamento form .input-box input[type="radio"]:checked {
    background-color: var(--cor-principal);
}

.form-add-lancamento form .input-box input[type="radio"]:checked::after,
.form-edit-lancamento form .input-box input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--cor-principal);
}

.form-add-lancamento form .input-box input:focus,
.form-add-lancamento form .input-box select:focus,
.form-edit-lancamento form .input-box input:focus,
.form-edit-lancamento form .input-box select:focus {
    outline: none;
    border-color: var(--cor-txt);
}

.form-add-lancamento form .input-box input:-webkit-autofill,
.form-add-lancamento form .input-box input:-webkit-autofill:hover,
.form-add-lancamento form .input-box input:-webkit-autofill:focus,
.form-add-lancamento form .input-box input:-internal-autofill-selected,
.form-edit-lancamento form .input-box input:-webkit-autofill,
.form-edit-lancamento form .input-box input:-webkit-autofill:hover,
.form-edit-lancamento form .input-box input:-webkit-autofill:focus,
.form-edit-lancamento form .input-box input:-internal-autofill-selected {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid var(--cor-txt) !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white  !important;
    caret-color: white !important;
}

.form-add-lancamento form .input-box input[type="checkbox"],
.form-edit-lancamento form .input-box input[type="checkbox"] {
    width: 15px;
    height: 15px;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #333;
    border-radius: 4px;
    position: relative;
    transition: all .2s;
}

.form-add-lancamento form .input-box input[type="checkbox"]:checked,
.form-edit-lancamento form .input-box input[type="checkbox"]:checked {
    background-color: var(--cor-principal);
    border-color: var(--cor-principal);
}

.form-add-lancamento form .input-box input[type="checkbox"]:checked::before,
.form-edit-lancamento form .input-box input[type="checkbox"]:checked::before {
    content: "✔";
    color: white;
    position: absolute;
    top: -3px;
    left: -1px;
    font-size: 10px;
}

.form-add-lancamento form .input-box select,
.form-edit-lancamento form .input-box select {
    background-color: transparent;
    color: var(--cor-txt);
}

.form-add-lancamento form .input-box option,
.form-edit-lancamento form .input-box option {
    background-color: var(--cor-txt);
    color: var(--cor-fundo-content);
}


.form-add-lancamento form .input-box input[type="date"]::-webkit-calendar-picker-indicator,
.form-edit-lancamento form .input-box input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.form-add-lancamento form .input-box input[type="number"],
.form-add-lancamento form .input-box input[type="number"]::-webkit-outer-spin-button,
.form-add-lancamento form .input-box input[type="number"]::-webkit-inner-spin-button,
.form-edit-lancamento form .input-box input[type="number"],
.form-edit-lancamento form .input-box input[type="number"]::-webkit-outer-spin-button,
.form-edit-lancamento form .input-box input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

.form-add-lancamento form input[type="submit"],
.form-edit-lancamento form input[type="submit"] {
    width: 100px;
    background-color: var(--cor-principal);
    color: var(--cor-txt);
    border: none;
    border-radius: 5px;
    margin: 30px auto 0 auto;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .3s;
}

.form-add-lancamento form input[type="submit"]:hover,
.form-edit-lancamento form input[type="submit"]:hover {
    background-color: #b88100;
}
  
