@media screen and (max-width: 767px) {
    .conteudo-total {
        padding: 10px;
        min-height: 100%;
    }

    .infos-topo {
        padding: 0;
    }

    .infos-topo h1 {
        font-size: 1.7rem;
    }

    .infos-topo .desempenho-mes .receita, .infos-topo .desempenho-mes .despesa {  /* Desempenho do mês individual */
        font-size: 0.8rem;
        padding: 10px;
        gap: 5px;
    }

    .form-container .form-add-lancamento {
        height: 100%;
        border-radius: 0;
    }

    .lancamentos {
        max-height: 430px;
        min-height: 430px;
    }
}