@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


:root {
    --cor-principal: #F2A900;
    --cor-fundo-content: #1F1F1F;
    --cor-txt: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.conteudo-letreco {  /* Seção que contém todo o conteudo */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.modal-vitoria, .modal-derrota {  /* Modais de vitoria e derrota */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);
    z-index: 1;
}

.modal-vitoria .vitoria, .modal-derrota .derrota {  /* Conteudo dos modais */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor-txt);
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 18px 2px var(--cor-txt);
    animation: exibir 0.8s forwards;
}

.modal-vitoria .vitoria h1 { /* Titulo do modal de vitoria */
    color: rgb(2, 187, 2);
}

.modal-derrota .derrota h1 { /* Titulo do modal de derrota */
    color: red;
}

.modal-vitoria .vitoria p { /* Texto do modal de vitoria */
    font-size: 1.2rem;
}

.modal-vitoria .vitoria button { /* Botão do modal de vitoria */
    background-color: rgb(2, 187, 2);
    color: var(--cor-txt);
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.modal-vitoria .vitoria button:hover { /* Hover do botão do modal de vitoria */
    background-color: rgb(0, 122, 0);
}

.modal-derrota .derrota button { /* Botão do modal de derrota */
    background-color: red;
    color: var(--cor-txt);
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.modal-derrota .derrota button:hover { /* Hover do botão do modal de derrota */
    background-color: rgb(122, 0, 0);
}

.title-container {  /* Container do titulo do jogo */
    text-align: center;
    width: 510px;
    margin-top: 1rem;
    color: #f4f3f1;
}

.letter-yellow { /* Letra amarela */
    color: #c79c2e;
}

.letter-green { /* Letra verde */
    color: #51b36e;
}

.letter-red { /* Letra vermelha */
    color: #943e3c;
}

.app-container {  /* Container principal do jogo */
    max-width: 500px;
    height: 680px;
    background-color: transparent;
    border: 1px solid #f4f3f1;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 4px 20px 3px #F2A900;
}



.tile-row {  /* Linha do letreco */
    margin-bottom: 1rem;
    justify-content: center;
    display:flex;
    box-sizing: border-box;
}

.tile-column {  /* Coluna do letreco */
    background-color: transparent;
    color: #f4f3f1;
    height: 40px;
    width: 48px;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display:flex;
}

.typing {  /* Coluna do letreco sendo digitada pelo jogador */
    border: 3px solid #f4f3f1;
}

.disabled {  /* Coluna do letreco que nao esta em digitação */
    border: 1px solid var(--cor-principal);
}

.right { /* Celula do letreco correta */
    background-color: #51b36e;
    color: #f4f3f1;
}

.wrong { /* Celula do letreco errada */
    background-color: #943e3c;
    color: #f4f3f1;
}

.displaced { /* Celula do letreco deslocada */
    background-color: #c79c2e;
    color: #f4f3f1;
}

.keyboard-container {  /* Container da teclado do jogo */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.keyboard-row-container {  /* Linha da teclado do jogo */
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: center;
    display: flex;
}

.keyboard-row-container.notAlphabetic {  /* Linha da teclado do jogo que contem botoes de navegação */
    width:100%;
}

.keyboard-row-container button {  /* Cada letra do teclado */
    background-color: transparent;
    border: 1px solid var(--cor-txt);
    color: var(--cor-txt);
}

.keyboard-row-container.notAlphabetic button:first-child { /* Botão de navegação backspace */
    width: 30px;
    height: 30px;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    font-size: 16px;
    cursor: pointer;
}

.keyboard-row-container.notAlphabetic button:nth-child(2) { /* Botão de navegação enter */
    width: 70px;
    height: 30px;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    font-size: 16px;
    cursor: pointer;
}

.keyboard-row-container:not(.notAlphabetic) button { /* Cada letra do teclado */
    width: 30px;
    height: 40px;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    font-size: 16px;
    cursor: pointer;
}

/* Animações */
@keyframes exibir {
    0% {
        display: none;
        transform: translate(-50%, -25%);
    }
    100% {
        display: block;
        transform: translate(-50%, -50%);
    }
}

/* Responsividade */
@media screen and (max-width: 767px) { /* Responsividade para telas menores */
    .app-container {  /* Container principal do jogo */
        max-width: 350px;
    }

    .title-container {  /* Container do titulo do jogo */
        width: 350px;
    }
}