@charset "UTF-8";

:root {
    --cor-principal: #F2A900;
    --cor-fundo: #3D3D3D;
    --cor-fundo-content: #1F1F1F;
    --cor-txt: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--cor-fundo);
    scrollbar-width: none;
}

/* Botão de fechar */
button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 7px;
    left: 7px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Efeito de hover no botão de fechar */
button:hover i {
    color: #a17100;
}

/* Ícone do botão de fechar */
button i {
    font-size: 30px;
    color: var(--cor-principal);
    transition: all .3s;
}

/* Estilos de títulos */
h1, h2 {
    color: var(--cor-principal);
}

/* Estilos de parágrafos */
p {
    line-height: 1.6;
    color: white;
}

/* Estilos de links */
a {
    color: var(--cor-principal);
    transition: all .3s;
}

/* Efeito de hover nos links */
a:hover {
    color: #a17100;
}

/* Elemento onde contem todo o texto */
.container-termos {
    max-width: 800px;
    margin: 0 auto;
    background: var(--cor-fundo-content);
    border: 1px solid #f2a90048;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #f2a90048;
}

/* Cada seção de termo */
.section-title {
    margin-top: 30px;
}