@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --cor-principal: #F2A900;
    --cor-fundo-content: #1F1F1F;
    --cor-txt: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    background-color: var(--cor-fundo-content);
    width: 100vw;
    min-height: 100dvh;
    position: relative;
    display: grid;
    place-content: center;
    overflow: scroll;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#pattern {
    width: 100vw;
    height: 100dvh;
    position: absolute;
    top: -44px;
    left: -50px;
    right: 0;
    bottom: 0;
}

#gradient {
    background: radial-gradient(#F2A900, transparent 50%);
    width: 400px;
    height: 400px;
    position: fixed;
    top: -200px;
    left: -200px;
    transform: translate(200px, 200px);
    pointer-events: none;
    will-change: transform;
}

#errorModalEmailBanido {
    z-index: 2;
}

#errorModalEmailBanido h2 {
    font-family: sans-serif;
    color: red;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#errorModalEmailBanido p {
    font-family: sans-serif;
    position: initial;
    color: black;
    font-size: 1rem;
    margin-bottom: 10px;
}

.content {
    position: relative;
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: #0d0c0f15;
    backdrop-filter: blur(10px);
    border: 1px solid #f2a90011;
    border-radius: 25px;
}

.content .icon-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--cor-txt);
    margin: 0;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all .3s;
}

.content .icon-voltar > a > i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.content .icon-voltar:hover > a > i {
    background-color: #b88100;
    color: white;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin-bottom: 5dvh;
}

h1 {
    font-family: "Orbitron", serif;
    color: white;
    text-align: center;
    font-size: 3.2rem;
}

#titulo {
    font-family: "Orbitron", serif;
    color:var(--cor-principal);
}

label, span {
    margin: 35px 0 0;
    padding-bottom: 5px;
}

span {
    position: relative;
}

label {
    color: var(--cor-principal);
    transition: all .3s;
}

label:hover {
    color: #b88100;
}

d {
    position: absolute;
    top: 60px;
    right: 190px;
    visibility: hidden;
}

span.error .input {
    border-color: red;
}

span.error d {
    color: red;
    visibility: visible;
}

span.error .toggle-password i {
    color: red;
}

span.error .input:focus {
    border-color: white;
}

span.error.focused .input {
    border: 1px solid white;
}

span.focused d{
    visibility: hidden;
}
span.focused .toggle-password i{
    color: white;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white  !important;
    caret-color: white;
}

.input:focus {
    color: white;
    outline: none;
}

.senha {
    position: relative;
}

.senha i {
    position: absolute;
    color: white;
    top: 2px;
    right: 15px;
    cursor: pointer;
}

#remember-box {
    position: relative;
  }

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    position: relative;
    transition: all .2s;
  }

  /* Estilo do checkbox quando está marcado */
  input[type="checkbox"]:checked {
    background-color: var(--cor-principal);
    border-color: var(--cor-principal);
  }

  /* Adiciona um "check" dentro do checkbox */
  input[type="checkbox"]:checked::before {
    content: "✔";
    color: white;
    position: absolute;
    left: 2px;
    top: -3px;
    font-size: 16px;
  }

  #remember-label {
    position: absolute;
    top: -32px;
    left: 25px;
    color: rgba(255, 255, 255, 0.856);
  }


input[type="submit"] {
    background-color: var(--cor-principal);
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 25px;
    border: none;
    transition: all .2s;
}

input[type="submit"]:hover {
    background-color: #b88100;
}

a, z {
    color: var(--cor-principal);
    text-decoration: none;
    transition: all .2s;
}

a:hover, z:hover {
    color: #b88100;
}

.login-google {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 100px;
}

.login-google p {
    position: absolute;
    top: -10px;
    right: 105px;
    color: var(--cor-principal);
}

.linha1, .linha2 {
    position: absolute;
    border-top: 1px solid rgba(255, 255, 255, 0.075);
}

.linha1 {
    width: 100px;
    top: -35px;
    left: 0;
}

.linha2 {
    width: 103px;
    top: -35px;
    right: 0;
}

#modalRecuperar .modal-content {
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo-content);
}

#modalRecuperar h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#modalRecuperar form {
    position: relative;
    margin-bottom: 0;
}

#modalRecuperar #email-recuperar {
    width: 100%;
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    border-radius: 4px;
    padding: 10px;
    outline: none;
}

#modalRecuperar input[type="submit"] {
    margin-bottom: 0;
}

#modalRecuperar #email-recuperar:-webkit-autofill,
#modalRecuperar #email-recuperar:-webkit-autofill:hover,
#modalRecuperar #email-recuperar:-webkit-autofill:focus {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white  !important;
    caret-color: white;
    outline: none;
}

#modalRecuperar #mensagem-erro {
    color: red;
    font-size: 0.9rem;
    align-self: start;
    text-align: start;
    margin-top: 10px;
}

#fecharModalRecuperar {
    position: absolute;
    top: -95px;
    right: -40px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: all .3s;
}

#fecharModalRecuperar:hover {
    background-color: #79797983;
}

@media screen and (max-width: 767px) {
    .content {
        width: 400px;
    }
}
