@charset "UTF-8";

:root {
    --cor-principal: #F2A900;
    --cor-fundo: #3D3D3D;
    --cor-fundo-content: #1F1F1F;
    --cor-txt: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-vertical { /* Estilo da navbar vertical */
    height: 100dvh;
    width: 200px;
    background-color: #3D3D3D; 
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    scrollbar-width: none;
    border: 1px solid var(--cor-principal); 
    transition: width 0.3s ease; 
    padding: 0;
    z-index: 9999;
    flex-wrap: nowrap;
}
.navbar-vertical.collapsed { /* Estilo da navbar vertical recolhida */
    width: 60px; 
}
.navbar-vertical .navbar-brand { /* Estilo do container da logo na navbar vertical */
    margin-left: 0px; 
}
.navbar-vertical .navbar-brand img { /* Estilo do logo na navbar vertical */
    max-width: 70%; 
}
.navbar-vertical.collapsed .navbar-brand img { /* Estilo do logo na navbar vertical recolhida */
    width: 95px; 
    margin-left: 10px;
}
.navbar-vertical .nav-link { /* Estilo dos links na navbar vertical */
    color: white; 
    font-size: 1rem;
    transition: all 0.3s ease; 
    padding: 10px 10px; 
      white-space: nowrap; 
    text-align: left; 
}
.navbar-vertical .nav-item { /* Estilo de cada itens da navbar vertical */
    display: block;
    text-align: left;
}
.navbar-vertical.collapsed .nav-link { /* Estilo dos links na navbar vertical recolhida */
    padding: 10px; 
    text-align: center; 
}
.navbar-vertical .nav-link i { /* Estilo dos icones na navbar vertical */
    margin-right: 10px;
    color: #F2A900; 
}
.navbar-vertical.collapsed .nav-link i { /* Estilo dos icones na navbar vertical recolhida */
    margin-right: 0; 
}
.navbar-vertical .nav-link:hover, .navbar-vertical .nav-link.active { /* Estilo dos links ao passar o mouse na navbar vertical e no link ativo */
    background-color: #F2A900; 
    color: black; 
    width: 100%; 
    margin: 0;
}
.navbar-vertical .nav-link:hover i, .navbar-vertical .nav-link.active i { /* Estilo dos icones ao passar o mouse na navbar vertical e no link ativo */
    color: black; 
}
.navbar-vertical.collapsed .nav-text { /* Estilo dos textos na navbar vertical recolhida */
    display: none;
}
.navbar-top .toggle-btn { /* Estilo do botao de alternar entre a navbar completa e recolhida */
    position: absolute; 
    top: 15px;
    left: -15px;
    z-index: 10000;
    background-color: #3D3D3D;
    border: none;
    color: white;
    width: 25px;
    height: 25px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
    border: 1px solid #F2A900;
}
.navbar-vertical.collapsed ~ .navbar-top .toggle-btn i { /* Estilo do botao de alternar entre a navbar completa e recolhida quando a navbar vertical recolhida */
    transform: rotate(180deg); 
}

.navbar-vertical ul.nav { /* Estilo da lista de links na navbar vertical */
    padding-left: 0;
}
.navbar-vertical ul.nav:first-of-type { /* Estilo da primeira lista de links na navbar vertical */
    margin-top: 11px;
}
.navbar-vertical ul.nav.bottom-links { /* Estilo da lista de links inferiores na navbar vertical */
    margin-top: auto;
}

/* Estilos da Navbar Superior */
.navbar-top {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 200px);
    height: 60px;
    background-color: #3D3D3D;
    padding: 0 20px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #F2A900;
    transition: all 0.3s ease;
    z-index: 9999;
}
.navbar-top.collapsed { /* Estilo da navbar superior recolhida */
    margin-left: 60px;
    width: calc(100% - 60px);
    height: 53px;
}
.navbar-top .user-info a{ /* Estilo do link do perfil na navbar superior */
    display: flex;
    text-decoration: none;
    align-items: center;
    color: rgb(255, 255, 255);
    object-fit: cover;
}
.navbar-top .user-info img { /* Estilo da imagem do perfil na navbar superior */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    border: 1px solid var(--cor-principal);
}
.navbar-top .user-info h1 { /* Estilo do nome do perfil na navbar superior */
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 5px;
    margin-bottom: 0px;
    padding: 0;
}

/* ----------------------------------------------------------------- */

/* inicio estilização conteudo padrao */
.conteudo {
    position: absolute;
    background-color: var(--cor-fundo-content);
    width: calc(100% - 200px);
    height: calc(100dvh - 60px);
    right: 0;
    top: 60px; 
    z-index: 0; 
    transition: width 0.3s ease; 
    overflow-y: scroll;
    scrollbar-width: none;
}

/* Estilo do container de conteudo quando a barra lateral está fechada */
.conteudo.collapsed {
    width: calc(100% - 60px);
    height: calc(100dvh - 53px);
    top: 53px;
}

/* Fim estilização conteudo padrao */

/* ----------------------------------------------------------------- */
