@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


:root {
    --cor-principal: #F2A900;
    --cor-fundo-content: #1F1F1F;
    --cor-txt: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #1F1F1F;
}

#modalEmailBanido h2 {
    color: red;
}

.conteudo {
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
}

.conteudo::-webkit-scrollbar {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 760px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: -2;
}

form > h1 {
    font-size: 2rem;
    font-family: 'orbitron';
    margin-bottom: 10px;
    color: white;
}

form #data-cadastro {
    color: white;
}

label {
    color: #F5A900;
    margin-top: 15px;
}

input {
    background-color: transparent;
    color: white;
    padding: 8px;
    border: 1.5px solid white;
    border-radius: 4px;
}

input:focus {
    color: white;
    outline: none;
}

input::placeholder {
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white  !important;
    caret-color: white;
}

.input-box.valid input:-webkit-autofill,
.input-box.valid input:-webkit-autofill:hover,
.input-box.valid input:-webkit-autofill:focus {
    border: 1px solid green !important;
}

.img-perfil {
    display: flex;
    justify-content: center;
}

.input-img-perfil {
    position: relative;
}

.img-perfil img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover !important;
}

.file-label {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 5px;
    background-color: white;
    color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.file-label i {
    font-size: 20px;
}

.input-box.invalid input{
    border: 1px solid red;
}

.input-box.valid input{
    border: 1px solid green;
}

.input-name, .input-outras-infos {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-name > span, .input-outras-infos > span {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    margin-top: 5px;
    flex-direction: row;
}

.input-login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-login span {
    width: 100%;
}

.input-login span input {
    width: 100%;
}

#span-senha, #span-confirmarsenha {
    position: relative;
}

#senha-icon, #confirmarsenha-icon {
    position: absolute;
    bottom: 8px;
    right: 10px;
    color: var(--cor-txt);
}

.invalid #senha-icon, .invalid #confirmarsenha-icon {
    top: 47px;
    right: 10px;
}

#nome, #sobrenome, #data-nasc, #salario {
    width: 300px;
}

span > label{
    display: block;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

/* Esconde o ícone nativo para o Firefox */
input[type="date"] {
    -moz-appearance: textfield;
    appearance: none;
}

.input-outras-infos .input-box:first-child {
    position: relative;
}

.bi-calendar3 {
    position: absolute;
    top: 50px;
    right: 11px;
    color: white;
    z-index: -1;
}

.btn-form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

#btn-input1 {
    text-align: end;
}

#btn-input1, #btn-input2 {
    width: 300px;
}

#btn-salvar {
    background-color: #F5A900;
    color: white;
    border: none;
    padding: 7px;
    width: 100px;
    font-size: 1rem;
    transition: all .2s;
}

#btn-salvar:hover {
    background-color: #8a6000;
}

button {
    background-color: white;
    color: #F5A900;
    padding: 7px;
    width: 100px;
    border: #F5A900;
    border-radius: 4px;
    font-size: 1rem;
    transition: all .2s;
}

button:hover {
    color: #ffcb21;
    background-color: rgb(184, 184, 184);
}

@media screen and (max-width: 700px){
.conteudo {
    align-items: center;
}

form {
    width: 350px;
    height: auto;
    padding: 20px;
}

form > h1 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.file-label {
    right: 2px;
    width: 20px;
    height: 20px;
}

.file-label i {
    font-size: 13px;
}

.img-perfil img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

label {
    font-size: 15px;
    margin-top: 5px;
}

.input-login {
    width: 93%;
}

.input-name, .input-outras-infos {
    display: block;
    width: 93%;
}

#senha-icon, #confirmarsenha-icon {
    bottom: 3px;
    right: 15px;
}

.invalid #senha-icon, .invalid #confirmarsenha-icon {
    top: 33px;
    right: 15px;
}

#nome, #sobrenome, #data-nasc, #salario,#email, #senha, #confirmar-senha {
    padding: 5px;
    font-size: 0.9rem;
    width: 100%;
}

#btn-input1, #btn-input2 {
    width: 45%;    
}

.bi-calendar3 {
    top: 34px;
    right: 15px;
}
}

@media screen and (min-width: 701px) and (max-width: 930px){

.conteudo {
    align-items: center;
}

form {
    width: 315px;
    height: 840px;
    padding: 15px 2px;
}

form > h1 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

label {
    margin-top: 5px;
}    
.img-perfil img {
width: 100px;
height: 100px;
border-radius: 50%;
}

.input-name, .input-outras-infos {
    display: block;
    width: 93%;
}

.input-login {
    width: 93%;
}

.invalid #senha-icon, .invalid #confirmarsenha-icon {
    top: 38px;
}

.bi-calendar3 {
    top: 38px;
}

#nome, #sobrenome, #data-nasc, #salario, #email, #senha, #confirmar-senha {
    padding: 7px;
    font-size: 0.95rem;
    width: 100%;
}

#btn-input1, #btn-input2 {
    width: 45%;
    
}
}

