@media screen and (max-width: 768px) {
    .conteudo-total .conteudo-estudo .videos .video-container {
        width: 300px;
        margin: 0 auto;
    }


    .conteudo-total .conteudo-estudo .videos .video-container iframe {
        width: 300px;
        height: 160px;
    }
}

@media screen and (max-width: 900px) {
    .conteudo-total .conteudo-estudo .videos {
        width: 100%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
    .conteudo-total .conteudo-estudo .videos {
        width: 1010px;
    }
}